# Ignore virtual environment
venv/
.env/

# Ignore compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore heavy model files
*.pt
*.pkl
*.lib
*.dll
*.so

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary files
*.log
.DS_Store
